* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
<<<<<<< HEAD
  justify-content: center;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.product {
  display: flex;
  width: 22%;
  height: 100vh;
  flex-direction: column;
  margin-left: 5px;
}

.input_section {
  display: flex;
  width: 100%;
  justify-content: flex-start; 
  padding-left: 3px;
  flex-direction: column;
}

.input_client {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.client_input {
  height: 40px;
  color: black;
  font-weight: 600;

  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_id {
  display: flex;
  flex-direction: column;
  width: 22%;
}

.id_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_date {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.date_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_code {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.code_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_stock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stock_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_quantity {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.quantity_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_price {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.price_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_total {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.total_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.order {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100vh;
  margin-right: 25px;
  border: 1px solid #f3f3f3;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
}

.product_picture {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 3px;
}

.picture {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.cart {
  width: 60px;
  height: 60px;

  border-radius: 30px;
}

.list_title {
  display: flex;
  justify-content: center;
=======
  justify-content: center;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.product {
  display: flex;
  width: 22%;
  height: 100vh;
  flex-direction: column;
  margin-left: 5px;
}

.input_section {
  display: flex;
  width: 100%;
  justify-content: flex-start; 
  padding-left: 3px;
  flex-direction: column;
}

.input_client {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.client_input {
  height: 40px;
  color: black;
  font-weight: 600;

  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_id {
  display: flex;
  flex-direction: column;
  width: 22%;
}

.id_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_date {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.date_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_code {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.code_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_stock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stock_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_quantity {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.quantity_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_price {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.price_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.input_total {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.total_input {
  height: 40px;
  text-align: center;

  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.order {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100vh;
  margin-right: 25px;
  border: 1px solid #f3f3f3;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
}

.product_picture {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 3px;
}

.picture {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.cart {
  width: 60px;
  height: 60px;

  border-radius: 30px;
}

.list_title {
  display: flex;
  justify-content: center;
>>>>>>> eb79f88f47c18edc1f028a8d56e57f2f09ba6a5a
  align-items: center;
  color: #fff;
  font-size: 23px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  width: 100%;

  border-radius: 10px;
  height: 40px;
  border: none;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

.table_area {
  display: flex;
  width: 100%;
  height: 90vh;
  padding-left: 15px;
  padding-right: 15px;
}

.miniature {
  margin-top: 1px;
  width: 100%;
  border-radius: 5px;
}

.min_container {
  width: 39px;
  height: 39px;
}

label {
  padding-top: 1px;
  padding-left: 7px;
  font-weight: 600;
  margin-bottom: 1px;
  color: black;
}

.addToCart {
  position: relative;
  top: 0px;
  left: -60px;
  width: 60px;
  height: 60px;

  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: transparent;
  border-radius: 10px;
  background-color: #0275d8;
  box-shadow: -3px 2px rgba(0, 0, 0, 0.45);
}

<<<<<<< HEAD
.btn_insert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  left: -40px;
  
  height: 40px;
  width: 40px;
  
  border: 1px solid black;
  border-radius: 30px;
  outline: none;
  
=======
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 30px;
>>>>>>> eb79f88f47c18edc1f028a8d56e57f2f09ba6a5a

 
}

.checkout_section {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 7px;
}

.payment_methods {
  display: flex;
  flex-direction: column;
  width: 17%;
}

.payments {
  width: 100%;
  height: 40px;
}

.payments_total {
  width: 100%;
  height: 40px;
}

.label_total {
  padding-left: 7px;
  font-weight: 600;
  margin-bottom: 2px;
  font-weight: 700;
}

table {
  width: 100%;
}

thead,
tbody,
tr,
td,
th {
  display: block;
}

tr:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 40px;
  /*text-align: left;*/
  border-bottom: 1px solid #f3f3f3;
}

tbody td {
  height: 45px;
}

tbody {
  height: 60vh;
  overflow-y: auto;
}

tbody td,
thead th {
  float: left;
  border-bottom: 1px solid #f3f3f3;
}

.table_id {
  display: flex;
  align-items: center;
  width: 6%;
  max-width: 60px;
  min-width: 50px;
}

.table_code {
  display: flex;
  align-items: center;
  width: 15%;
}

.table_quantity {
  display: flex;
  align-items: center;
  width: 8%;
}

.table_price {
  display: flex;
  align-items: center;
  width: 10%;
}

.table_total {
  display: flex;
  align-items: center;
  width: 10%;
}

.table_min {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.table_action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
}

.table_description {
  display: flex;
  align-items: center;
  width: 32%;
}

.payment_section {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width: 100%;
}

.btn_pay {
  width: 20%;
  height: 40px;
  background-color: #ffc107;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.order_check {
  width: 20%;
  height: 40px;
}
