* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 99%;
  }
  
  .input_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    padding-top: 15px;
    padding-left: 5px;
  }
  
  .input_id {
    display: flex;
    flex-direction: column;
    width: 33.3%;
  }
  
  .id_input {
    height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    color:black;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: -2px 2px rgba(0, 0, 0, .175);
  }
  
  .input_date {
    display: flex;
    flex-direction: column;
    width: 33.3%;
  }
  
  .date_input {
    height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    color:black;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: -2px 2px rgba(0, 0, 0, .175);
  }
  
  .input_code {
    display: flex;
    flex-direction: column;
    width: 33.3%;
  }
  
  .code_input {
    height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    color:black;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: -2px 2px rgba(0, 0, 0, .175);
  }
  
  .input_stock {
    display: flex;
    flex-direction: column;
    width: 26%;
  }
  
  .stock_input {
    height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    color:black;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: -2px 2px rgba(0, 0, 0, .175);
  }
  
  .input_quantity {
    display: flex;
    flex-direction: column;
    width: 26%;
  }
  
  .quantity_input {
    height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    color:black;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: -2px 2px rgba(0, 0, 0, .175);
  }
  
  .input_price {
    display: flex;
    flex-direction: column;
    width: 22%;
  }
  
  .price_input {
    height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    color:black;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: -2px 2px rgba(0, 0, 0, .175);
  }
  
  .input_total {
    display: flex;
    flex-direction: column;
    width: 26%;
  }
  
  .total_input {
    height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    color:black;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: -2px 2px rgba(0, 0, 0, .175);
  }
  
  .order {
    display: flex;
    flex-direction: column;
    width: 69%;
    height: 99%;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100vh;
    margin-right: 25px;
    border: 1px solid #f3f3f3;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
  }
  
  .product_picture {
    display: flex;
    width: 100%;
    height: 100%;
    justify-items: center;
  }
  
  .cart {
    width: 100%;
  }
  
  .description {
    width: 100%;
  }
  
  .title {
    width: 99%;
    height: 40px;
    border: none;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
  }
  
  .table_area {
    display: flex;
    width: 100%;
    height: 100vh;
    border: 1px solid #f3f3f3;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .productPicture {
    display: flex;
    height: 70vh;
  }
  
  .picture {
    display: flex;
    margin-top: 1px;
    width: 99%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .miniature {
    margin-top: 1px;
    width: 100%;
    border-radius: 5px;
  }
  
  .min_container {
    width: 39px;
    height: 39px;
  }
  
  label {
    padding-left: 7px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  .addToCart {
    background-color: #0275d8;
    width: 99%;
    height: 40px;
    border: transparent;
    font-weight: 100;
    font-size: 18px;
  }
  
  .checkout_section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .payment_methods {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  
  .payments {
    width: 100%;
    height: 40px;
  }
  
  .payments_total {
    width: 100%;
    height: 40px;
  }
  
  .label_total {
    padding-left: 7px;
    font-weight: 600;
    margin-bottom: 2px;
    font-weight: 700;
  }


  table {
    width: 100%;
  }
  
  thead, tbody, tr, td, th {
    display: block;
  }
  
  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  
  thead th {
    height: 40px;
    /*text-align: left;*/
    border-bottom: 1px solid #f3f3f3;
  }
  
  tbody td {
    height: 45px;
  }
  
  tbody {
    height: 70vh;
    overflow-y: auto;
    border-bottom: 1px solid #f3f3f3;
  }
  
  tbody td, thead th {
    float: left;
    border-bottom: 1px solid #f3f3f3;
  }
  
  .table_id {
    display: flex;
    align-items: center;
    width: 6%;
    max-width: 60px;
    min-width: 50px;
  }
  
  .table_code {
    display: flex;
    align-items: center;
    width: 15%;
  }
  
  .table_quantity {
    display: flex;
    align-items: center;
    width: 8%;
  }
  
  .table_price {
    display: flex;
    align-items: center;
    width: 10%;
  }
  
  .table_total {
    display: flex;
    align-items: center;
    width: 10%;
  }
  
  .table_min {
    display: flex;
    align-items: center;
  justify-content: center;
    width: 10%;
  }
  
  .table_action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
  }
  
  .table_description {
    display: flex;
    align-items: center;
    width: 32%;
  }
  
  .payment_section{
    display: flex; 
    flex-direction: column; 
    width: 100%;
  }
  
  .btn_pay{
    width: 20%;
    height: 40px;
    background-color: #ffc107;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
  }