table {
  width: 100%;
}

thead, tbody, tr, td, th {
  display: block;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 40px;
  /*text-align: left;*/
  border-bottom: 1px solid #f3f3f3;
}

tbody td {
  height: 45px;
}

tbody {
  height: 70vh;
  overflow-y: auto;
  border-bottom: 1px solid #f3f3f3;
}

tbody td, thead th {
  float: left;
  border-bottom: 1px solid #f3f3f3;
}

.table_id {
  display: flex;
  align-items: center;
  width: 6%;
  max-width: 60px;
  min-width: 50px;
}

.table_code {
  display: flex;
  align-items: center;
  width: 15%;
}

.table_quantity {
  display: flex;
  align-items: center;
  width: 8%;
}

.table_price {
  display: flex;
  align-items: center;
  width: 10%;
}

.table_total {
  display: flex;
  align-items: center;
  width: 10%;
}

.table_min {
  display: flex;
  align-items: center;
justify-content: center;
  width: 10%;
}

.table_action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
}

.table_description {
  display: flex;
  align-items: center;
  width: 32%;
}

.payment_section{
  display: flex; 
  flex-direction: column; 
  width: 100%;
}

.btn_pay{
  width: 20%;
  height: 40px;
  background-color: #ffc107;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 20px;
}